.login-wrapper {
    margin: 0 auto;
    width: 300px;
    height: 400px;
    text-align: center;
    font-family: "amatic sc";
    font-size: 24px;
}

.register-wrapper {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    text-align: center;
    font-family: "amatic sc";
    font-size: 24px;
}

.register-link {
    font-family: "amatic sc";
    color: green;
}

.login-link {
    font-family: "amatic sc";
    color: blue;
}